
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* body {
    font-family: 'Poppins', sans-serif;
}

.warn-note {
    border: 1px solid yellow;
    background-color: lightyellow;
    border-radius: 3px;
    margin: 20px;
}

